@import "../../sassStyles/base";

.cofounder-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  position: relative;

  h3 {
    font-size: 32px;
  }

  p.title-text {
    font-size: 20px;
    text-transform: uppercase;
  }

  .detail-card {
    background-color: #8ae8de;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0%;
    padding: 1rem;
    display: flex;
    align-items: center;
    left: -1rem;

    &.hovered {
      opacity: 95%;
      transition: 0.4s;
    }
  }
}
