@import "../../sassStyles/base";

.feature-jumbotron {
  background-color: $bg-secondary-color;
  margin-top: 44px;
  padding-top: 14px;
  padding-bottom: 60px;

  h4 {
    font-size: 25px;
    text-align: center;
    font-weight: normal;
    overflow-wrap: break-word;
    line-height: 2.5rem;
    font-family: $secondary-font;
    font-weight: 500;
  }

  .mockup-container {
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px;

    // display: grid;
    // grid-template-rows: repeat(3, min-content) 1fr;
    // grid-template-columns: 100%;
    // grid-area: 1 / 1 / 5 / 2;

    .demo-screen-container {
      width: 300px;
      position: relative;

      img.mockup {
        position: absolute;
      }

      img.screen {
        z-index: 1;
        left: 20px;
        top: 15px;
        border-radius: 20px;
        position: absolute;
      }
    }

    .action-cards {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
