@import "../../sassStyles/base";

.action-card {
  background-color: #ffffffd9;
  padding: 25px;
  margin: 0 40px 40px;
  max-width: 522px;

  .card-title {
    font-size: 20px;
    display: block;
    font-weight: bold;
    line-height: 2rem;
    font-family: $secondary-font;
  }

  font-size: 18px;
  line-height: 1.5rem;
}
